<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Flask Caja Dólares</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
	</head>
	<body>
		<header>
			<h1>Gestión de Caja - Compra/Venta de Dólares</h1>
			<div class="actions-container">
				<form method="POST" action="{{ url_for('logout') }}">
					<button type="submit">Cerrar Sesión</button>
				</form>
			</div>
			<nav>
				<a href="{{ url_for('index') }}">Inicio</a>
				<a href="{{ url_for('transactions') }}">Transacciones</a>
				<a href="{{ url_for('chart') }}">Gráfica</a>
				<a href="{{ url_for('historial') }}">Historial</a>
			</nav>
		</header>
		<main>{% block content %}{% endblock %}</main>
	</body>
</html>
