<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
		<title>{% block title %}Transacciones{% endblock %}</title>
	</head>
	<body>
		<nav>
			<a href="{{ url_for('registrar') }}">Registrar Transacción</a> |
			<a href="{{ url_for('historial') }}">Historial</a>
			<a href="{{ url_for('balance') }}">Balance</a>
		</nav>
		<div class="content">{% block content %}{% endblock %}</div>
	</body>
</html>
